# secrets
.env
client_secret.json
client_secrets.json
token.pickle
token.json

# python
__pycache__/
*.pyc

# temp video
*TEMP_MPY*

# logs
logs/

# output
output/videos/
output/previews/

# OS
.DS_Store
Thumbs.db